.form-section{
    width: 100%;
    height: 100vh;
    display: flex;
}

.form-container{
    display: flex;
    justify-content: center;

    width: 80%;
    height: 100%;
}

.form-img{
    width: 100%;
    height: 100%;
}

.form-img img{
    width: 100%;
    height: 99.6%;
    object-fit: cover;
}

.margin{
    margin: 0 126px;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-content h1{
    font-size: 2.5rem;
    font-weight: 100;
}

.form-content p{
    align-items: start;
    color: #666666;
}

.form-content a{
    color: #4221E3;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
}

.form form{
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input input, .input textarea{
    color: #666666;
    background-color: #03040B;
    border: none;
    border-radius: 10px;
    border: solid 2px #090a0e;
    height: 50px;
    padding: 10px 15px;
}



.input textarea{
   
    resize: vertical;
}


.input input:focus, .input textarea:focus{
    border: none;
    outline: solid 2px #4221E3;
}

.input label{
    color: #ffff; 
}

.input ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    padding: 0 20px;
}

.input ul li{
    color: #666666;
}

.submit{
    width: 200px;
    font-weight: 600;
}



